.post {
  margin: 0 10% 0 10%;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;

  background-color: rgb(27, 27, 27);
}

.post {
  display: flex;
  flex-direction: row;
  transition: opacity .1s ease;
}

.posts:has(.post:hover)>.post:not(:hover) {
  opacity: 10%;
}


.post .title {
  color: #f2c67d;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Rubik";
  font-style: italic;
  text-transform: uppercase;
}

.post .text {
  color: white;
  font-size: 18px;
}

.post .content {
  display: flex;
  flex-direction: column;
}

.post .options {
  margin-left: auto;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px
}

.post .options .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: .2s background-color ease;
}

.post .options .option:hover {
  background-color: rgba(255, 255, 255, 0.404);
}

.post .options .option box-icon {
  scale: 1.5;
}

.post .options .option box-icon[name="check"] {
  fill: lime;
}

.post .options .option box-icon[name="x"] {
  fill: red;
}

.post .options .option box-icon[name="edit"] {
  fill: #f2c67d;
}

.post .options .option box-icon[name="check-double"] {
  fill: lime;
}